.custom-button {
  transition: all 0.3s ease-in-out;
  align-items: center;
  display: inline-flex;
  position: relative;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  //overflow: hidden;

  //&::before {
  //  content: "";
  //  position: absolute;
  //  z-index: 1;
  //  max-width: 54px;
  //  height: 54px;
  //  top: -7px;
  //  left: 23px;
  //  right: 0;
  //  bottom: 0;
  //  background: red;
  //  border-radius: 50%;
  //  transform: scale(0);
  //  transition: transform 0.3s ease-out;
  //  mix-blend-mode: normal;
  //}

  //&:focus::before{
  //  transform: scale(2);
  //}

  .has-icon{
    @media (max-width: $break-sms) {
      margin-right: 5px;
    }
  }

  .svg{
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    cursor: pointer;
  }

  .input-upload{
    opacity: 0;
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
  }

  .text{
    cursor: pointer;
  }

  .no-label{
    margin-right: 0 !important;
  }

  .no-label-mobile{
    @media (max-width: $break-sms) {
      margin-right: 0 !important;
    }
  }

  .custom-size{
    width: 18px;
    height: 18px;
  }

  &:focus{
    outline: none;
  }

  &__primary{
    background: $c-primary;
    position: relative;
    //overflow: hidden;

    &:hover{
      background: $c-prim-lighter-10
    }

    &:active{
      background: $c-prim-darker-10
    }
  }

  &__circle{
    border-radius: 50% !important;
    width: 48px;
    height: 48px;
  }

  &__medium{
    padding: 12px 17px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.05em;
    border-radius: 3px;
  }
  &__large{
    padding: 16px 56px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    //font-family: $font-roboto;
    border-radius: 4px;
  }
  &__full{
    width: 100%;
    padding: 12px 17px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.05em;
    border-radius: 3px;
  }


  &__c-white{
    color: $c-white;
  }
  &__c-black{
    color: $c-black
  }


  .btn-label{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__disabled-primary{
    cursor: not-allowed;
    background: $c-greyscale-20;
    color: $c-greyscale-120;

    &:hover{
      background: $c-greyscale-20
    }
    &:active{
      background: $c-greyscale-20
    }
  }

}




