.custom-input {
  margin-bottom: 8px;
  position: relative;

  .label {
    position: absolute;
    left: 16px;
    top: 12px;
    //color: $c-gray-600;
    //transition: $transition;
    z-index: 1;
    cursor: pointer;

    &.regroup {
      top: 6px;
      left: 12px;
    }

    //&.focus {
    //  color: var(--b-blue-500);
    //}
    //
    //&.has-error {
    //  color: $c-error;
    //}
  }

  .floating-input {
    position: relative;
    width: 100%;
    height: 48px;
    background: $c-greyscale-100;
    padding: 12px;
    border: 1px solid $c-greyscale-120;
    //caret-color: var(--c-primary);
    transition: $transition-3;
    color: $c-white;
    border-radius: 3px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:hover{
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04)), #1C1D2B;
    }

    &:focus {
      outline: none;
    }

    &.regroup {
      //padding: 16px 16px 0 16px;
      padding-top: 22px;
      padding-bottom: 6px;
    }

    &.focus-border {
      border: 1px solid $c-primary;
    }

    &.has-error {
      border: 1px solid $c-system-error;
    }

    &.icon-padding {
      padding-right: 47px;
    }

    &.disabled-cursor {
      cursor: not-allowed;
      background-color: $c-greyscale-20;
      border: 1px solid $c-greyscale-40;
      color: $c-greyscale-120;
    }
  }

  .indicators{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;

    .indicator-list{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .indicator{
        height: 4px;
        width: 100%;
        margin-right: 4px;
        background: $c-greyscale-40;
        border-radius: 1px;
        display: block;

        &:last-child{
          margin-right: 0;
        }
      }

      .active-level{
        background: $c-primary;
      }
    }

    .indicator-status{
      margin-left: 16px;
      min-width: 90px;
      display: flex;
      justify-content: flex-end;
    }
  }

  .icon {
    position: absolute;
    display: flex;
    right: 16px;
    top: 12px;
    z-index: 2;
    cursor: pointer;
  }
}

::placeholder{
  color: $c-greyscale-20;
}

.no-margin{
  margin-bottom: 0;
}

.text-m{
  color: $c-greyscale-20;
}
.disabled-label{
  color: $c-greyscale-120 !important;
}
.help-text{
  margin-top: 12px;
  color: $c-greyscale-20;
  margin-bottom: 12px;
}
input:-webkit-autofill {
  border: 3px solid blue;
}
