.custom-checkbox{
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid #261632;
  box-sizing: border-box;
  padding: 16px 15px;
  cursor: pointer;
  justify-content: space-between;

  label{
    vertical-align: text-bottom;
    display: flex;

    .bold{
      font-weight: 700;
    }
  }

  .circle{
    width: 24px;
    height: 24px;
    border: 1px solid #D6D2D9;
    box-sizing: border-box;
    border-radius: 80px
  }

  .current{
    background: $c-primary;
    border: none;
    position: relative;

    &::after{
      content: '';
      position: absolute;
      top: 8px;
      left: 8px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $c-white;
    }
  }


  a{
    text-decoration: underline;
  }

  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    opacity: 0;
    left: 0;
    z-index: 1;
    position: absolute;
    width: 16px;
    height: 16px;
    margin: 0;
    cursor: pointer;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label
  {
    position: relative;
    padding-left: 32px;
    display: inline-block;
    cursor: pointer;

    @media (max-width: $break-sms) {
      padding-left: 25px;
    }
  }
  [type="radio"]:checked + label::before{
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: 16px;
    height: 16px;
    border: 1px solid var(--c-primary);
    border-radius: 100%;
    background: var(--c-primary);
  }
  [type="radio"]:not(:checked) + label::before{
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: 16px;
    height: 16px;
    border: 0.5px solid #4B4B5A;
    box-sizing: border-box;
    border-radius: 50px;
    background: var(--c-white);
  }


  [type="radio"]:checked + label::after,
  [type="radio"]:not(:checked) + label::after {
    content: '';
    width: 4px;
    height: 4px;
    background: var(--c-white);
    position: absolute;
    top: 10px;
    left: 6px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label::after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  [type="radio"]:checked + label::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.errors-list {
  margin-top: 5px;

  p {
    color: var(--c-error) !important;
  }
}
