.panel-container {
  display: flex;
  width: 100%;
  align-content: space-between;
  justify-content: space-between;
  margin-bottom: 16px;
  align-items: center;
  background-color: $c-greyscale-100;
  flex-direction: row;
  border-radius: 3px;
  padding: 26px 24px;

  @media (max-width: $break-sm) {
    flex-direction: column;
  }

  .img-block {
    display: flex;
    margin-right: 40px;
  }

  .description {
    width: 540px;

    @media (max-width: $break-md) {
      width: 70%;
    }
    @media (max-width: $break-sm) {
      text-align: center;
      width: 100%;
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }

  .in-panel-div {
    @media (max-width: $break-sm) {
      text-align: center;
      width: 100%;
    }
  }

  .actions {
    @media (max-width: $break-sm) {
      width: 100%;
    }

    .custom-button {
      @media (max-width: $break-sm) {
        width: 100%;
      }
    }
  }

  > * {
    margin: 0;

    img {
      height: 100%;
      max-height: 100px;
    }
  }

  > .main-content {
    flex-grow: 1;
  }

  > :empty {
    display: none;
  }
}

@media (max-width: $break-sm) {
  .panel-container {
    //flex-direction: column;

    > * {
      img {
        height: 150px;
        max-height: 150px;
      }
    }
  }
}
