.market-item{
  padding: 26px 42px;
  background: $c-greyscale-120;
  border-radius: 3px;
  width: 224px;
  margin-right: 16px;
  margin-bottom: 16px;
  cursor: pointer;

  @media (max-width: $break-sms) {
    width: 47.5%;
    display: inline-block;
    padding: 26px 20px;
  }

  &:nth-child(4n){
    @media (min-width: $break-md) {
      margin-right: 0;
    }
  }

  &:nth-child(2n){
    @media (max-width: $break-sms) {
      margin-right: 0;
    }
  }

  .img-block{
    width: 86px;
    height: 86px;
    margin: 0 auto;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
