.market-item{
  padding: 26px 42px;
  background: $c-greyscale-120;
  border-radius: 3px;
  //width: 220px;
  //margin-right: 8px;
  //margin-left: 8px;
  //margin-bottom: 16px;
  cursor: pointer;

  //@media (max-width: $break-md) {
  //  margin-right: 16px;
  //}

  @media (max-width: 530px) {
    width: 47%;
    padding: 26px 21px;
    margin-right: 0;
  }

  .img-block{
    width: 86px;
    height: 86px;
    margin: 0 auto;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
