.main-container {
  color: white;
  text-align: center;
  padding: 10px;

  main {
    max-width: 944px;
    text-align: left;
  }

  p {
    font-size: 16px;
    line-height: 150%;
  }

  .in-panel-div {
    * {
      margin: 0;
    }
    h2 {
      margin-bottom: 10px;
    }
  }
}

.bold {
  font-weight: bold;
}

a {
  text-decoration: none;
}
.flex {
  display: flex;
}

@media (max-width: $break-sms) {
  .main-container {
    padding: 20px;

    main {
      width: 100%;
      a.custom-button {
        width: 100%;
      }
    }
  }
}
