.profile-container {
  //background: $c-background;
  padding-bottom: 50px;
  .user-info {
    //background: url("~assets/img/geometry.png");
    background: url("~assets/img/profile-bg.png");
    background-position: center;
    background-size: 100% 100%;

    @media (max-width: $break-sms) {
      height: 260px;
    }
    .header-title {
      display: flex;
      align-items: center;
      @media (max-width: $break-sms) {
        justify-content: center;
      }
      img {
        font-size: 0;
        margin-left: 13px;
      }
    }

    .user {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 207px;
      padding-bottom: 32px;

      @media (max-width: $break-sms) {
       display: block;
        text-align: center;
        padding-top: 40px;
      }

      &-tag {
        background-color: $c-greyscale-100;
        border-radius: 3px;
        padding: 4px 8px;
        display: flex;
        margin-right: 8px;
        align-items: center;
        cursor: pointer;

        @media (max-width: $break-sms) {
          justify-content: center;
          margin-bottom: 8px;
          margin-right: 0;
        }
        &-state {
          margin-right: 4px;
          width: 8px;
          height: 8px;
          border-radius: 8px;
          display: block;
          background-color: $c-connected;
        }
        &-text {
          margin-right: 4px;
        }
        &-gift {
          margin-right: 5px;
        }
        &.view-offline {
          .user-tag {
            z-index: 0;

            &-state {
              background-color: $c-not-connected;
            }
          }
        }
      }

      .left-side {
        display: flex;

        @media (max-width: $break-sms) {
          display: block;
          text-align: center;
        }

        .avatar-block {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          border: 1px solid #D6D2D9;
          background: $c-greyscale-120;
          cursor: pointer;
          position: relative;
          overflow: hidden;
          margin-right: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.2s ease-in-out;

          @media (max-width: $break-sms) {
            margin: 0 auto 24px auto;
          }

          .hover-img{
            opacity: 0;
            position: absolute;
            transition: all 0.2s ease-in-out;
          }

          .avatar-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.2s ease-in-out;
          }

          &:hover{
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), $c-greyscale-120;
          }
          &:hover .hover-img{
            opacity: 1;
          }
          &:hover .avatar-img{
            opacity: .4;
          }

          &:active{
            background: $c-greyscale-120;
          }
          &:active .hover-img{
            opacity: 1;
          }
          &:active .avatar-img{
            opacity: 0.4;
          }


          .avatar-input {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
          }
        }

        .user-block {

          .img-block{
            position: relative;
            display: flex;

            &::before{
              content: "";
              position: absolute;
              //background: #79affd;
              opacity: 0.8;
              box-shadow:  0 0 10px #7839FE;
              filter: blur(4.2px);
              width: 14px;
              height: 14px;
              top: 2px;
              right: 1px;
            }
          }

          .user-states {
            display: flex;

            @media (max-width: $break-sms) {
              justify-content: center;
              flex-direction: column;
              align-items: center;
              margin-bottom: 64px;
            }
          }
        }
      }
    }
  }

  .user-content{
    margin-top: 28px;
    // height: 200px;

    @media (max-width: $break-sms) {
      margin-top: 32px;
    }
    .user {
      &-action {
        &-block {
          display: flex;
          align-items: center;
          padding: 18px 24px 2px 24px;
          background: $c-greyscale-100;
          border-radius: 3px;
          @media (max-width: $break-mds) {
            flex-direction: column;
            text-align: center;
            padding: 8px 16px 16px;
            .user-action-block {
              &-text {
                padding-bottom: 16px;
              }
              &-button {
                padding-bottom: 0;
              }
            }
          }
          @media (max-width: $break-sms) {
           .user-action-block-button {
            width: 100%;

             .custom-button{
               width: 100%;
             }
           }
          }
          & + .user-action-block {
            margin-top: 24px;
          }
          &-icon {
            padding-right: 36px;
            font-size: 0;

            @media (max-width: $break-mds) {
              padding-right: 0;
            }
          }
          &-text {
            flex: 1;
            padding-bottom: 11px;
            padding-right: 10px;
          }
          &-button {
            padding-bottom: 11px;
          }
          &.view-wallet {
            padding: 24px;
            @media (max-width: $break-mds) {
              padding: 16px;
            }
            .user-action-block {
              &-text {
                padding-bottom: 0;
                @media (max-width: $break-mds) {
                  padding-bottom: 16px;
                }
              }
              &-button {
                padding-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
