.become-tester{
  padding-top: 80px;
  padding-bottom: 91px;
  position: relative;

  .content{
    z-index: 1;
    position: relative;

    @media (max-width: $break-sms) {
      max-width: 100%;
    }

    .header-block{
      width: 100%;
      text-align: center;
      margin-bottom: 80px;

      @media (max-width: $break-sms) {
        flex-direction: column;
        align-items: center;
        margin-bottom: 32px;
      }

      .header-h{
        color: $c-white;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 38px;
        letter-spacing: -0.025em;
        margin-top: 0;
        margin-bottom: 24px;
        display: block;

        @media (max-width: $break-sms) {
          font-weight: 800;
          font-size: 37px;
          line-height: 37px;
          letter-spacing: -0.02em;
          margin-bottom: 16px;
        }
      }

      .header-desc{
        font-weight: 800;
        font-size: 20px;
        line-height: 29px;
        text-align: center;
        letter-spacing: -0.01em;
        width: 900px;
        margin: 0 auto;

        @media (max-width: $break-lgs) {
          width: 100%;
        }
      }
    }

    .form-group{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @media (max-width: $break-mds) {
        justify-content: center;
        flex-direction: column;
      }

      .header-title1{
        font-weight: bold;
        font-size: 35px;
        line-height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.025em;
        width: 241px;
        margin: 0 auto;
        padding-top: 32px;
        justify-content: center;

        @media (max-width: $break-lgs) {
          width: 100%;
        }
        @media (max-width: $break-mds) {
          padding-top: 16px;
        }
        @media (max-width: $break-sms) {
          font-size: 23px;
          line-height: 33px;
          letter-spacing: -0.01em;
        }
        @media (max-width: $break-xs) {
          padding-top: 0;
        }
      }

      .action{
        margin-top: 40px;

        @media (max-width: $break-mds) {
          margin-top: 8px;
          text-align: left;
        }

        button{
          @media (max-width: $break-sms) {
            padding: 0 17px;
          }
        }

      }

      .item{
        width: 32%;
        margin-bottom: 56px;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 16px;
        padding: 40px 21px;

        @media (max-width: $break-mds) {
          justify-content: flex-start;
          width: 100%;
          display: flex;
          padding: 24px 32px;

          &:last-child{
            margin-bottom: 0;
          }
        }
        @media (max-width: $break-xs) {
          padding: 24px 16px;
        }

        .item-img{
          display: flex;
          width: 260px;
          height: 260px;
          margin: 0 auto;
          //background: #08010E;
          //border-radius: 8px;
          //padding-bottom: 37px;
          //padding-top: 37px;

          @media (max-width: $break-mds) {
            margin-right: 16px;
            height: 130px;
          }

          @media (max-width: $break-xs) {
            height: auto;
          }

          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            @media (max-width: $break-xs) {
              object-fit: contain;
            }
          }
        }

      }
    }
  }
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
