.become-tester{
  padding-top: 80px;
  padding-bottom: 91px;
  background: $c-background;
  //border: 5px solid transparent;
  //border-image-source: conic-gradient(from 180deg at 50% 50%, #F00 0deg, #FF3D00 39.37deg, #FFC700 80.63deg, #BDFF00 118.12deg, #24FF00 151.87deg, #00FF85 189.38deg, #00B2FF 226.87deg, #000AFF 256.87deg, #8F00FF 286.87deg, #EB00FF 324.38deg, #FF003D 358.13deg, #F00 360deg);


  @media (max-width: $break-sms) {
    padding-right: 32px;
    padding-left: 32px;
  }

  .content{
    max-width: 848px;
    margin: 0 auto;

    @media (max-width: $break-sms) {
      max-width: 100%;
    }

    .header-block{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: baseline;

      @media (max-width: $break-sms) {
        flex-direction: column;
        align-items: center;
      }

      .rocket-icon{
        font-size: 64px;

        @media (max-width: $break-sms) {
          font-size: 37px;
        }
      }

      h2{
        color: $c-white;
        text-align: center;
        font-style: normal;
        font-weight: 800;
        font-size: 64px;
        line-height: 95%;
        letter-spacing: -0.01em;
        margin-top: 0;

        @media (max-width: $break-sms) {
          font-weight: 800;
          font-size: 37px;
          line-height: 110%;
          letter-spacing: -0.02em
        }
      }
    }

    .form-group{
      max-width: 416px;
      margin: 0 auto;

      @media (max-width: $break-sms) {
        max-width: 100%;
      }
    }
  }
}
