.become-tester{
  padding-top: 80px;
  padding-bottom: 91px;
  position: relative;
  border-width: 3px;
  background: linear-gradient(60deg, #FF0, #FF3D00, #FFC700, #BDFF00, #24FF00, #00FF85, #00B2FF, #000AFF, #8F00FF, #EB00FF, #FF003D, #FF0);
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;

  @media (max-width: $break-sms) {
    padding-right: 32px;
    padding-left: 32px;
  }


  &::after {
    content: '';
    position: absolute;
    background: $c-background;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }


  .content{
    max-width: 848px;
    margin: 0 auto;
    z-index: 1;
    position: relative;

    @media (max-width: $break-sms) {
      max-width: 100%;
    }

    .header-block{
      width: 100%;
      text-align: center;
      margin-bottom: 48px;

      @media (max-width: $break-sms) {
        flex-direction: column;
        align-items: center;
      }

      .rocket-icon{
        font-size: 64px;

        @media (max-width: $break-sms) {
          font-size: 37px;
        }
      }

      .header-h{
        color: $c-white;
        text-align: center;
        font-style: normal;
        font-weight: 800;
        font-size: 64px;
        line-height: 95%;
        letter-spacing: -0.01em;
        margin-top: 0;

        @media (max-width: $break-sms) {
          font-weight: 800;
          font-size: 37px;
          line-height: 110%;
          letter-spacing: -0.02em
        }
      }
    }

    .form-group{
      max-width: 416px;
      margin: 0 auto;

      @media (max-width: $break-sms) {
        max-width: 100%;
      }
    }
  }
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
