.blog-wrapper {
  //background: #11011F;
  padding-top: 120px;
  padding-bottom: 80px;

  @media (max-width: $break-sms) {
    padding-bottom: 48px;
    padding-top: 48px;
  }

  .header-h {
    margin-bottom: 64px;
    text-align: center;

    @media (max-width: $break-smd) {
      margin-bottom: 40px;
      max-width: 100%;
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;

    @media (max-width: $break-sm) {
      flex-direction: column;
    }

    .blog-content {
      width: 100%;
    }

    .blog-item {
      background: rgba(255, 255, 255, 0.05);
      border-radius: 16px;
      width: 47.5%;
      cursor: pointer;
      display: flex;
      margin-bottom: 48px;
      position: relative;

      @media (max-width: $break-lg) {
        width: 48%;
      }

      @media (max-width: $break-sm) {
        flex-direction: column;
        width: 100%;
      }

      a {
        text-decoration: none;
        display: flex;

        .blog-content {
          display: flex;
          align-items: center;
          max-height: 168px;

          @media (max-width: $break-mds) {
            flex-direction: column;
            max-height: initial;
          }
        }
      }

      .display-f {
        min-width: 168px;
        height: 100%;

        @media (max-width: $break-mds) {
          width: 100%;
          height: 168px;
        }

        .blog-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;

          @media (max-width: $break-mds) {
            width: 100%;
            margin: 0 auto;
            display: block;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border-bottom-left-radius: 0;
            // height: 168px;
          }
        }
      }

      .info {
        padding: 42px 16px 42px 16px;

        @media (max-width: $break-mds) {
          padding: 16px;
        }

        .date {
          color: #ffbc0f;
          margin-bottom: 8px;
        }

        .title {
          font-weight: 800;
          font-size: 20px;
          line-height: 29px;
          letter-spacing: -0.01em;
        }

        .divider {
          background: $c-white;
          height: 1px;
          width: 100%;
          margin: 24px 0 8px 0;
          display: block;
        }

        .action {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
}
