.coming-soon {
  width: 100%;
  //height: 100%;
  //background: url("~assets/img/landing/galaxy-landing-img.png");
  //background-position: center;
  //background-repeat: no-repeat;
  //background-size: 100% 100%;
  //background: #0c0116;
  //height: 100vh;
  //position: relative;
  //
  @media (max-width: $break-md) {
    background-size: cover;
    background-position: center;
  }

  .content {
    padding-bottom: 100px;
    padding-top: 80px;
    text-align: center;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    h1 {
      font-weight: 800;
      font-style: normal;
      font-size: 74px;
      line-height: 100%;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: -0.025em;
      color: #fff;
      margin-bottom: 16px;
      margin-top: 0;
      opacity: 0;
      transition: all 0.5s ease-in-out;
      transform: translateY(-15px);

      @media (max-width: $break-sms) {
        font-weight: 800;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: -0.025em;
      }
    }

    .desc{
      transform: translateY(-15px);
      opacity: 0;
      transition: all 0.5s ease-in-out;
      font-weight: 600;
      font-size: 32px;
      line-height: 100%;
      letter-spacing: -0.025em;

      @media (max-width: $break-sms) {
        font-weight: 800;
        font-size: 20px;
        line-height: 29px;
        letter-spacing: -0.01em;
      }
    }

    span{
      opacity: 0;
      transition: all 0.5s ease-in-out;
      transform: translateY(-15px);
    }

    .action{
      margin-top: 64px;
      opacity: 0;
      transition: all 0.5s ease-in-out;
      transform: translateY(-15px);
      margin-bottom: 60px;

      @media (max-width: $break-sms) {
        margin-top: 40px;
        margin-bottom: 38px;
      }
    }

    .show{
      opacity: 1;
      transform: translateY(1px);
    }
  }
}

.web-span{
  //width: 159px;
  //height: 154px;

  img{
    width: 100%;
    height: 100%;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s
}

.fade-enter,
.fade-leave-to
  /* .fade-leave-active in <2.1.8 */

{
  opacity: 0
}

.all-show{
  height: 608px;
}
