.coming-soon {
  width: 100%;
  height: 100%;
  //background: url("~assets/img/landing/galaxy-landing-img.png");
  //background-position: center;
  //background-repeat: no-repeat;
  //background-size: 100% 100%;
  //background: #0c0116;
  //height: 100vh;
  //position: relative;
  //
  @media (max-width: $break-md) {
    background-size: cover;
    background-position: center;
  }

  .content {
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: center;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    h1 {
      font-weight: 800;
      font-size: 64px;
      line-height: 95%;
      color: #fff;
      margin-bottom: 40px;
      margin-top: 40px;
      opacity: 0;
      transition: all 0.5s ease-in-out;
      transform: translateY(-15px);

      @media (max-width: $break-sms) {
        font-weight: 800;
        font-size: 32px;
        line-height: 95%;
      }
    }

    span{
      opacity: 0;
      transition: all 0.5s ease-in-out;
      transform: translateY(-15px);
      width: 160px;
      height: 160px;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .action{
      opacity: 0;
      transition: all 0.5s ease-in-out;
      transform: translateY(-15px);
    }

    .show{
      opacity: 1;
      transform: translateY(1px);
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s
}

.fade-enter,
.fade-leave-to
  /* .fade-leave-active in <2.1.8 */

{
  opacity: 0
}

.all-show{
  height: 608px;
}
