.coming-soon{
  background: #0c0116;
  height: 100vh;
  position: relative;

  @media (max-width: $break-sms) {
    height: 70vh;
  }
}

.stars{
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("~assets/img/landing/starsgroup.png");
  background-position: center;
  margin: 0 auto;
}
.stars-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.app-content{
  text-align: center;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 48%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  @media (max-width: $break-sms) {
    top: calc(30% + 80px);
  }
}
.main-banner{
  background: url("~assets/img/landing/galaxy-banner.png");
  width: 478px;
  height: 354px;
  margin: 0 auto 30px auto;
}

.text{
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.025em;
  color: #FFF;
  width: 100%;
  justify-content: center;
}

.timer{
  width: 478px;
  margin: 0 auto 30px auto;

  @media (max-width: $break-sms) {
    width: 80%;
    margin: 0 auto;
  }
}


@media only screen and (max-width: 470px){
  .main-banner{
    width: 80%;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
