.discover-wrapper {
  background: $c-land-background;

  .sounds {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;

    //@media (max-width: 1500px) {
    //  max-width: 1340px;
    //}
    //
    //@media (max-width: 1380px) {
    //  max-width: 1280px;
    //  padding-left: 70px;
    //  padding-right: 100px;
    //}
    //
    //@media (max-width: 1200px) {
    //  max-width: 100%;
    //  padding-left: 0;
    //  padding-right: 0;
    //}

    @media (max-width: $break-md) {
      flex-direction: column;
      padding: 0 60px 20px;
    }


    @media (max-width: $break-sms) {
      padding-left: 32px;
      padding-right: 32px;
    }


    .left-side {
      display: flex;
      margin-left: 13px;
      position: relative;

      @media (max-width: $break-md) {
        order: 1;
        margin-left: 0;
        justify-content: center;
      }

      .start-block {
        margin-right: 16px;
        position: absolute;
        left: -145px;

        @media (max-width: 1600px) {
          position: static;
        }

        @media (max-width: $break-md) {
          display: none;
        }
      }

      .sound-block {
        @media (max-width: $break-lgs) {
          padding-bottom: 40px;
        }

        @media (max-width: $break-md) {
         width: 100%;
        }

        h2 {
          color: $c-white;
          font-weight: 800;
          font-size: 64px;
          line-height: 95%;
          letter-spacing: -0.01em;
          margin-bottom: 48px;
          width: 500px;

          @media (max-width: 1280px) {
            width: 400px;
            text-align: left;
            margin-top: 40px;
            font-size: 37px;
            letter-spacing: -0.02em;
            margin-bottom: 24px;
          }
          @media (max-width: $break-md) {
            text-align: center;
            width: 100%;
          }
        }

        .title-big {
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 150%;
          color: $c-white;

          @media (max-width: $break-md) {
            text-align: center;
            font-size: 16px;
            line-height: 150%;
          }
        }

        .subtitle{
          width: 450px;

          @media (max-width: 1200px) {
            width: 350px;
          }

          @media (max-width: $break-md) {
            margin: 0 auto 24px auto;
            width: 100%;
          }
        }

        .join-us{
          font-weight: 700 !important;
        }

        .action {
          margin-bottom: 48px;

          @media (max-width: $break-md) {
            text-align: center;
            margin-bottom: 24px;
          }

          .discord-btn {
            display: inline-flex;
            padding: 13px 16px;
            background: #5865F2;
            border-radius: 8px;
          }
        }

        .text-m{
          @media (max-width: $break-md) {
            text-align: center;
          }
        }


        ul {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          @media (max-width: $break-md) {
            justify-content: center;
          }

          li {
            margin-right: 24px;

            .social-link {
              display: inline-flex;
            }
          }
        }
      }
    }

    .right-side {

      .desktop-sound {
        display: flex;
        transform: translateX(180px);

        @media (max-width: 1700px) {
          transform: translateX(80px);
        }

        @media (max-width: 1600px) {
          transform: translateX(0);
        }

        @media (max-width: $break-lgs) {
          height: 100%;
        }
        @media (max-width: $break-md) {
          display: none;
        }

        .column {

          .img-block1 {
            display: flex;
            width: 240px;
            height: 240px;

            @media (max-width: 1200px) {
              width: 200px;
              height: 200px;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 16px;
            }
          }

          .odd {
            margin-bottom: 24px;
          }
        }

        .first-column {
          margin-top: 80px;
          margin-right: 24px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }

        .second-column{
          @media (max-width: $break-lgs) {
            display: flex;
            flex-direction: column;
            //justify-content: flex-end
          }
        }
      }

      .mobile-sound{
        display: none;

        @media (max-width: $break-md) {
          display: flex;
          justify-content: center;
        }

        .first-column{
          margin-right: 24px;
          margin-top: 24px;

          @media (max-width: $break-md) {
            margin-right: 16px;
          }
        }
        .column{
          display: flex;
          flex-direction: column;

          .img-block1{
            width: 148px;
            height: 148px;

            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 16px;
            }
          }

          .odd{
            margin-bottom: 24px;

            @media (max-width: $break-md) {
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }

  .discover {
    padding-top: 228px;
    padding-bottom: 80px;


    @media (max-width: 1280px) {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    @media (max-width: $break-smsm) {
      padding-bottom: 50px;
    }


    .full-container{
      display: flex;
      justify-content: space-between;

      @media (max-width: $break-smsm) {
        flex-direction: column;
      }

      .left-side {
        width: 432px;
        margin-right: 80px;

        @media (max-width: $break-smsm) {
          width: 100%;
          margin-right: 0;
          margin-bottom: 32px;
        }

        h2{
          font-weight: 800;
          font-size: 40px;
          line-height: 95%;
          letter-spacing: -0.01em;
          color: $c-white;

          @media (max-width: $break-smsm) {
            font-size: 37px;
            letter-spacing: -0.02em;
          }
        }

        .text-l {
          margin-bottom: 0;

          @media (max-width: $break-smsm) {
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
          }
        }
      }

      .right-side {
        width: 432px;

        @media (max-width: $break-smsm) {
          width: 100%;
        }

        .img-block {
          display: flex;

          @media (max-width: $break-md) {
            justify-content: center;
          }

          .bear-img {
              width: 100%;
              height: 100%;
              object-fit: cover;
          }
        }
      }
    }
  }

}
