.faq-wrapper{
  //background: #11011F;
  padding-top: 80px;
  padding-bottom: 80px;

  h2{
    margin-bottom: 78px;

    @media (max-width: $break-sms){
      margin-bottom: 38px
    }
  }

  .desc{
    margin-bottom: 80px;

    @media (max-width: $break-sms){
      margin-bottom: 24px;
    }
  }

  .content{

    .accordion{
      margin-bottom: 16px;
    }
  }
}
