.faq-wrapper{
  //background: #11011F;
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: 10;
  position: relative;

  .subtitle {
    color: white;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
  }

  .mb-78 {
    margin-bottom: 78px;
  }

  .mt-50 {
    margin-top: 50px;
  }

  h2{
    margin-bottom: 24px;
  }

  .desc{
    margin-bottom: 80px;

    @media (max-width: $break-sms){
      margin-bottom: 24px;
    }
  }

  .content{

    .accordion{
      margin-bottom: 16px;
    }
  }
}

.icon-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .icon {
    width: 40px;
    height: 40px;
  
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}

