.leg-link {
  margin-right: 32px;
}

footer{
  background: #100C0F;
  padding-top: 70px;
  padding-bottom: 45px;
  position: relative;

  @media (max-width: $break-sms) {
    padding-bottom: 24px;
    padding-top: 24px;
  }

  .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;

    @media (max-width: $break-mds) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    ul{
      list-style-type: none;
      //display: flex;
      //margin: 0;
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: center;

      @media (max-width: $break-mds) {
        margin-bottom: 16px;
        margin-top: 16px;
        position: static;
      }

      li{
        margin-right: 16px;

        &:last-child{
          margin-right: 0;
        }
      }

      .text-m{
        @media (max-width: $break-xs) {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }

    .socials{
      z-index: 100;
      .link:not(:last-child) {
        margin-right: 16px;;
      }
    }
  }
}