.how-it-works {
  color: white;
  padding: 80px 0;

  @media (max-width: 750px) {
    padding: 40px 0 0;
  }

  .content {
    z-index: 1;
    position: relative;

    .title {
      font-weight: 700;
      font-size: 40px;
      text-align: center;
      margin-bottom: 68px;
    }

    .step-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 750px) {
        display: block;
      }

      .step {
        text-align: center;
        width: 156px;
        height: 160px;

        @media (max-width: 750px) {
          margin-bottom: 16px;
          width: 100%;
          height: 141px;

          &:first-child {
            margin-bottom: 45px;
          }
        }

        .coming-soon {
          margin-top: 16px;
        }

        img {
          margin: 0 auto 20px auto;
          height: 40px;
          width: 40px;
          border: 0;
          display: block;
        }
      }
    }
  }
}
