.our-team{
  background: #120220;
  //height: 650px;
  position: relative;

  &::after{
    content: "";
    background: url("~assets/img/landing/cloud1.svg") no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 415px;
    height: 305px;

    @media (max-width: $break-xs) {
      width: 100%
    }
  }

  &::before{
    content: "";
    background: url("~assets/img/landing/cloud2.svg") no-repeat fixed center;
    position: absolute;
    top: 140px;
    right: 0;
    width: 383px;
    height: 247px;

    @media (max-width: $break-xs) {
      width: 100%
    }
  }

  .map-wrapper{
    //background: url("~assets/img/landing/map.png") no-repeat fixed center;
    background: url("~assets/img/landing/map.png") no-repeat center;
    width: 100%;
    height: 100%;

    .content{
      max-width: 384px;
      margin: 0 auto;
      padding-top: 77px;
      padding-bottom: 40px;

      @media (max-width: $break-sms) {
        padding-left: 32px;
        padding-right: 32px;
      }

      h2{
        margin-bottom: 32px;

        @media (max-width: $break-sms) {
          margin-bottom: 16px;
        }
      }

      .teams{
        margin-top: 64px;

        .team{
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-radius: 8px;
          padding: 16px 24px;

          .team-info{

            .position{
              font-family: $font-primary;
              font-style: normal;
              font-weight: bold;
              font-size: 20px;
              line-height: 26px;
              display: flex;
              align-items: center;
              letter-spacing: -0.02em;
              color: #11011F;
            }

            .text-m{
              color: $c-land-background;
            }
          }

          .country{
            display: flex;
            border-radius: 50%;
            width: 40px;
            height: 40px;

            .flag{
              border-radius: 50%;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .yellow{
          background: linear-gradient(345.71deg, #FFC988 -14.67%, #F9E788 109.31%), #291A35;
        }
        .purple{
          background: linear-gradient(357.76deg, #D49DFF -7.65%, #A49EED 123.01%), #291A35;;
        }
        .light-blue{
          background: linear-gradient(153.06deg, #92ECF2 -0.31%, #63A4FF 99.69%), #291A35;;
        }

      }
    }
  }
}
