.text-section{
  padding-bottom: 80px;
  padding-top: 80px;
  background: #11011F;

  @media (max-width: $break-smsm) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .full-container{
    display: flex;
    justify-content: space-between;

    @media (max-width: $break-smsm) {
      flex-direction: column;
    }

    .left-side{
      width: 432px;
      margin-right: 90px;

      @media (max-width: $break-smsm) {
        margin-right: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 24px;
      }

      h2{
        font-weight: 800;
        font-size: 40px;
        line-height: 95%;
        letter-spacing: -0.01em;

        @media (max-width: $break-smsm) {
          font-size: 37px;
          letter-spacing: -0.02em;
          margin-bottom: 24px;
        }


      }
    }

    .right-side{
      width: 432px;

      @media (max-width: $break-smsm) {
        width: 100%;
        //text-align: center;
      }
    }
  }
}
