header{
  height: 56px;
  padding: 8px 0;
  border-bottom: 1px solid #301C3F;

  @media (max-width: 990px) {
    padding: 12px 24px;
  }

  .full-container {
    @media (max-width: 1716px){
      margin: 0 auto !important;
    }
    //@media (max-width: 1280px){
    //  padding-left: 24px !important;
    //  padding-right: 24px !important;
    //}
  }

  .link-header{
    display: flex;
  }

  .desktop-header{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    @media (max-width: $break-md) {
      display: none;
    }

    .list{
      display: flex;
      align-items: center;
      z-index: 2;

      li{
        margin-right: 24px;
      }
    }

    .logo-block{
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: center;


      @media (max-width: 1380px) {
        position: absolute;
        width: 74%;
      }
      @media (max-width: 1100px) {
        width: 83%;
      }
      //position: static;
      //width: auto;

      img{
        cursor: pointer;
      }
    }

    .action{
      z-index: 2;
    }
  }

  .mobile-header{
    display: none;

    @media (max-width: $break-md) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .logo-block{
      display: flex;
    }

    .action{
      display: flex;
      align-items: center;

      .burger-menu{
        margin-left: 8px;
      }
    }
  }
}
