$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-220px * 10))}
}


// Styling
.leaderboard {
	background: #08010E;
	height: 40px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100%;
  color: white;
  border-bottom: 1px solid #301C3F;
	
	
	.leaderboard-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(220px * 20);
	}
	
	.leaderboard-single {
		line-height: 40px;
		width: 220px;
    &:first-child {
      padding-left: 24px;
    }
	}
}