$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-220px * 10))}
}


// Styling
.leaderboard {
	background: #090A15;
	height: 40px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100%;
	color: white;
	border-bottom: 1px solid $c-greyscale-100;

	.leaderboard-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(220px * 20);
	}

	.leaderboard-single {
		line-height: 40px;
		width: 220px;
		span {
			display: block;
			white-space: nowrap;
			overflow: hidden;
			padding-right: 5px;
			text-overflow: ellipsis;
		}
		&:first-child {
			padding-left: 24px;
		}
	}
}
